ldap_username = ""
ldap_password = ""
ldap_server_url = ""
ldap_base_dn = ""
psa_report_path = ""
psa_report_user = ""
marvin_psa_report_token = ""
psa_report_token = ""
output_path = ""
email_list = ""
smtp_server = ""
smpt_port = ""
email_password = ""
from_email = ""
error_emails = ""
